body{
    margin: 0;
}
.header {
   
    height: 25rem;
    background-color:aqua; 
    display: flex;
  }
  .logo{
    width: 20rem;
    height: 20rem;
    border-radius:  20%;
   padding-top: 2rem;
   padding-left: 1rem;
   padding-bottom: 0.5rem;
  }
  .boxDiv{
      text-align: center; 
      margin: 5px;
      font-size: 2rem;
      padding-top: 2rem;
      padding-left: 20rem;
      font-size:3rem;
      color:green;
  }
  
  
  .content {
    display: flex;
    height: 80rem;
    width: 28rem;
    background-color:antiquewhite; 

  }

  .hoso{
      
      font-size: 28px;
      color: #2c5f88;
      padding-left: 40px;
      padding-top: 70px;
  }

  .fontSize{
      font-size: 1.5rem;
  }

  .dt1{
      display: flex;
  }
  .dt{
      padding-left: 20px;
  }

  

  .canh{
      background-color:aliceblue;
      height: 80rem;
      margin-left: 28rem;
      margin-top: -1390px;
  
  }

  .qt{

    background-color:#fac4c4; 
    margin-top: 120px;
    margin-left: 120px;
    width: 532px;
    height: 45px;
    font-size: 28px;

}


 
  .lop{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #2c5f88;
      padding-left: 121px;
      padding-top: 15px;
      font-size: 28px;

  }

  .pm{
      
    background-color:#fac4c4; 
    margin-top: 30px;
    margin-left: 120px;
    width: 532px;
    height: 45px;
  }

  .cn{
    padding-left: 1rem;
    font-size: 2rem;
  }

  #cn{
    padding-left: 1rem;
    font-size: 2rem;
  }
  .bk{
      font-size: 20px;
  }